
{% element 'snippets/newsletter' %}
{% element 'snippets/atendimento' %}

{% set checkout = "checkout" in pages.current ? "true" : "false" %}
<footer>
    
    <div class="foo-content">
        <div class="container">
            <div class="col-sm-6 col-md-3 col-xs-12 col-md-offset-1">
                <h3>{{ Translation('institucional') }}</h3>
                <ul class="links-list">
                    {% for custom in pages.custom %}
                        <li>
                            <a href="{{ custom.url }}">{{ custom.name }}</a>
                        </li>
                    {% endfor %}
                    <li>
                        <a href="{{ links.contact }}" data-tray-tst="fale_conosco">{{ Translation('contato') }}</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-4 col-xs-12 payment-gateways">
                <h3 class="text-center">{{ Translation('pagamento') }}</h3>
                {% element 'snippets/payment-list' %}
                
                {% if seals.ebit or seals.hackersafe %}
                    <h3 class="security-title">{{ Translation('seguranca') }}</h3>
                    <ul class="foo-seals">
                        {% if seals.ebit %}
                        <li class="seal-ebit pull-left">{{ seals.ebit }}</li>
                        {% endif %}
                        {% if seals.hackersafe %}
                        <li>{{ seals.hackersafe }}</li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>

            <div class="col-sm-6 col-md-4 col-xs-12 payment-gateways">
                <h3 class="text-center">Segurança</h3>
                <div class="text-center">
                    <img src="{{asset('img/seguranca.png')}}">
                </div>
            </div>
                  
            
        </div>
    </div>

    <div class="foo-social">
        <div class="container">
             
            {% if settings.facebook or 
                  settings.twitter or 
                  settings.whatsapp or
                  settings.pinterest or 
                  settings.youtube or 
                  settings.instagram
            %}
            <div class="col-sm-12 social-list">
                {% element 'snippets/social-list' %}
            </div>
            {% endif %}
        </div>
    </div>
    
    {% if Translation('ag_mensagem_rodape') != '' %}
    <div class="foo-message">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <a href="{{ links.home }}" data-tray-tst="logotipo_loja">
                    {{ Image('logo') }}</a>
                </div>
                <div class="col-md-8">
                    <span class="message-footer">
                        {{ Translation('ag_mensagem_rodape') }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="dev-by">
        <a href="https://projetual.com.br" target="_blank">
            <img src="{{asset('img/devby-projetual.png')}}" alt="Desenvolvido por Projetual Comunicação">
        </a>
    </div>
</footer>