{% element 'snippets/vantagens' %}
<hr class="fullwidth">

<div class="banners-adv">
    <div class="row">
        <div class="col-md-6">
            {{ banner.extra1 }}
        </div>
        <div class="col-md-6">
            {{ banner.extra2 }}
        </div>
    </div>
</div>


{% if settings.limitProducts %}
    {% set limitProducts = settings.limitProducts %}
{% else %}
    {% set limitProducts = 12 %}
{% endif %}

{% set showAvailable = settings.show_available_products ? 'available' %}

<!-- Showcase 01 -->
{% if settings.showcase == "featured" %}
    {% set showcaseText = 'DESTAQUES' %}
{% elseif settings.showcase == "new" %}
    {% set showcaseText = 'LANÇAMENTOS' %}
{% elseif settings.showcase == "free_shipping" %}
    {% set showcaseText = 'FRETE GRÁTIS' %}
{% elseif settings.showcase == "promotion" %}
    {% set showcaseText = 'PROMOÇÕES' %}
{% elseif settings.showcase == "top_seller" %}
    {% set showcaseText = 'MAIS VENDIDOS' %}
{% endif %}

{% if showAvailable %}
    {% if settings.showcase == "top_seller" %}
    <div id="prognoos_popv1"></div>

        {% set products = Products({
            'filter': showAvailable,
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %}

    {% else %}
        {% set products = Products({
            'filter': [showAvailable, settings.showcase],
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}

{% else %}
    {% if settings.showcase == "top_seller" %}
    <div id="prognoos_popv1"></div>

        {% set products = Products({
            'filter': available,
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %}
    {% else %}
        {% set products = Products({
            'filter': settings.showcase,
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}
{% endif %}

{% element 'showcase' {
    "products": products,
    "showcaseTitle": showcaseText
} %}


<!-- Showcase 02 -->
{% if settings.showcase2 == "featured" %}
    {% set showcaseText2 = 'DESTAQUES' %}
{% elseif settings.showcase2 == "new" %}
    {% set showcaseText2 = 'LANÇAMENTOS' %}
{% elseif settings.showcase2 == "free_shipping" %}
    {% set showcaseText2 = 'FRETE GRÁTIS' %}
{% elseif settings.showcase2 == "promotion" %}
    {% set showcaseText2 = 'PROMOÇÕES' %}
{% elseif settings.showcase2 == "top_seller" %}
    {% set showcaseText2 = 'MAIS VENDIDOS' %}
{% endif %}

{% if showAvailable %}
    {% if settings.showcase2 == "top_seller" %}
    <div id="prognoos_popv1"></div>

        {% set products = Products({
            'filter': showAvailable,
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %}

    {% else %}
        {% set products = Products({
            'filter': [showAvailable, settings.showcase2],
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}

{% else %}
    {% if settings.showcase2 == "top_seller" %}
    <div id="prognoos_popv1"></div>

        {% set products = Products({
            'filter': available,
            'limit': limitProducts,
            'order': {'quantity_sold': 'desc'}
        }) %}
    {% else %}
        {% set products = Products({
            'filter': settings.showcase2,
            'limit': limitProducts,
            'order': 'rand'
        }) %}
    {% endif %}
{% endif %}

{% element 'showcase' {
    "products": products,
    "showcaseTitle": showcaseText2
} %}


<!-- Banner Bottom -->
{% if banner.bottom %}
    <div class="banner banner-bottom {% if not settings.enable_banner_default %}mobile-off{% endif %}">
        {{ banner.bottom }}
    </div>
{% endif %}

{% if pages.current == 'home' %}
	{{ banner.popup ~ banner.floating }}
{% endif %}
